
* {
    text-align: center;
}

main {
    margin: 10%;
}

h1 {
    margin-top: -40px;
	font-size: 100px;
}

button {
    background: none;
    padding: 20px;
    width: 10%;
    position: fixed;
    margin-left: -40%;
    border: none;  
    cursor: pointer;  
}

button svg {
    filter: invert(1) hue-rotate(180deg);
}

main img {
    max-width: 20%;
}

img {
	border-radius: 50%;
}

h2 {
	font-size: 40px;
}

span {
    color: #e0c3fc;
}

main p a {
    font-size: 20px;
}

a {
	text-decoration: none;
	color: black;
}

footer {
    background-color: #e0c3fc;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 100px;
    font-size: 18px;
}

footer img {
    margin: 25px;
    position: relative;
    right: 40%;
    bottom: 60px;
}

footer a:hover {
    color: whitesmoke;
}

footer ul {
    display: inline-block;
    margin-left: 60px;
}

footer ul li {
    margin-bottom: 10px;
    position: relative;
    bottom: 100px;
    text-align: justify;
}

footer p {
    text-align: right;
    margin-bottom: -10px;
}

/* Animacion */
@keyframes slide-up {
    to {
        opacity: 1;
        top: 0;
    }
}

.animacion {
    opacity: 0;
    position: relative;
    top: 50px;
    animation: slide-up 1s ease-out forwards;
    animation-delay: 0.5s;
}