
* {
	text-align: center;
}

nav, footer {	
	background: #e0c3fc;
}

nav a img {
	transition: transform 0.5s ease;
}

nav a img:hover {
	transform: scale(1.2);
}

#logo {
	border-radius: 50%;
}

div h1 {
	margin: 30px;
}

div h2 {
	text-align: left;
	margin-left: 20rem;
}

.img {
	margin: 20px;
	border-radius: 1rem;
}

#img {
	transform: rotate(450deg);
	margin: -80px;
	border-radius: 1rem;
}

p {
	margin-left: 280px;
	width: 50%;
	text-align: justify;
}

table {
	margin: 30px;
	margin-left: 160px;
	border: 1px solid black;
}

table td {
	border: 1px solid black;
	padding: 10px;
	width: 280px;
}

table td:hover {
	background: #e498ff;
	color: white;
}

.publicacion {
	text-align: justify;		
}

footer {
	position: relative;
	right: 150px;
	width: 123.5%;
	margin-bottom: -16px;
}

footer p {
	position: relative;
	text-align: center;
	padding: 30px;
	left: 100px;
}