
* {
	text-align: center;
}

nav, footer {	
	background: #e0c3fc;
}

nav a img {
	transition: transform 0.5s ease;
}

nav a img:hover {
	transform: scale(1.2);
}

#logo {
	border-radius: 50%;
}

div h1 {
	margin: 30px;
}

p {
	margin-left: 280px;
	width: 50%;
	text-align: justify;
}

#contenido ul li {
	text-align: left;
	width: 50%;
}

h2 {
	text-align: left;
	margin: 20px;
}

.img {
	border-radius: 1rem;
	float: right;
	margin-top: -240px;
	margin-right: 150px;
}

footer {
	position: relative;
	right: 150px;
	width: 123.5%;
	margin-bottom: -16px;
}

footer p {
	position: relative;
	text-align: center;
	padding: 30px;
	left: 100px;
}