
* {
	text-align: center;
}

nav {
	background: #e0c3fc;
}

nav a img {
	transition: transform 0.5s ease;
}

nav a img:hover {
	transform: scale(1.2);
}

#logo {
	border-radius: 50%;
}

/* Inicio */

#contenido h1 {
	margin: 35px;
}

#contenido img {
	margin: 30px;
	border-radius: 1rem;
}

img {
	cursor: pointer;
	transition: transform 0.5s ease;
}

img:hover {
	transform: scale(1.1);
}