
*{
	text-align: center;
}

nav{
	background: #e0c3fc;
}

#logo{
	border-radius: 50%;
}

h3{
	margin: 20px;
}

/* Inicio */

#contenido h1{
	margin: 35px;
}

#contenido img{
	margin-left: 30px;
	border-radius: 10%;
}

img{
	cursor: pointer;
}