
* {
	text-align: center;
}

nav {	
	background-color: #e0c3fc;
}

nav a img {
	transition: transform 0.5s ease;
}

nav a img:hover {
	transform: scale(1.2);
}

#logo {
	border-radius: 50%;
}

.primer-contenido h1 {
	margin: 30px;
	margin-top: 40px;
}

.primer-contenido button {
    background: none;
    padding: 20px;
    width: 10%;
    position: fixed;
    margin-left: -50%;
    border: none;    
}

.primer-contenido button svg {
    filter: invert(1) hue-rotate(180deg);
}

.primer-contenido p, .segundo-contenido p {
	margin-left: 280px;
	width: 50%;
}

p {
	font-size: 20px;
}

span {
	color: #e0c3fc;
}

table {
	position: relative;
	left: 250px;
	margin: 30px;
	border: 1px solid black;
}

table tr, table td {
	border: 1px solid black;
}

table td, table th {
	padding: 10px;
	width: 290px;
	text-align: justify;
}

table tr:hover {
	background: #e0c3fc;
}

table td:hover {
	background: #e498ff;
	color: white;
}

.segundo-contenido h2, h3 {
	text-align: left;
	margin: 25px;
}

.segundo-contenido h2 {
	padding: 15px;
}

.segundo-contenido ul li {
	text-align: left;
	width: 50%;
	font-size: 18px;
}

.img1 {
	float: right;
	margin-top: -200px;
	margin-right: 150px;
	border-radius: 1rem;
}

.img2 {
	float: right;
	margin-top: 150px;
	margin-right: -240px;
	border-radius: 1rem;
}

#img1 {
	float: right;
	margin-top: -200px;
	border-radius: 1rem;
}

#img2 {
	float: right;
	margin-top: 150px;
	border-radius: 1rem;
}

.segundo-contenido p {
	text-align: justify;
}

footer {
    background-color: #e0c3fc;
    padding: 100px;
    font-size: 18px;
}

footer img {
    margin: 25px;
    position: relative;
    right: 40%;
    bottom: 60px;
}

footer a {
    color: black;
	text-decoration: none;
}

footer a:hover {
    color: whitesmoke;
}

footer ul {
    display: inline-block;
    margin-left: 60px;
}

footer ul li {
    margin-bottom: 10px;
    position: relative;
    bottom: 100px;
    text-align: justify;
}

footer p {
    text-align: right;
    margin-bottom: -10px;
}

/* Animacion */
@keyframes slide-up {
    to {
        opacity: 1;
        top: 0;
    }
}

.animacion, .img1, .img2, #img1, #img2 {
    opacity: 0;
    position: relative;
    top: 50px;
    animation: slide-up 1s ease-out forwards;
    animation-delay: 0.5s;
}