{% from "Macros.jinja2" import footer %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BangtanStoryline/Página No Encontrada</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/404.css') }}">
	<link rel="shortcut icon" href="https://i.pinimg.com/564x/b0/c0/d2/b0c0d2df10c4a5ba13c45c09b2b89677.jpg" type="image/x-icon">
</head>
<body>
	
    <main class="animacion">
        <h1><span>4</span>0<span>4</span></h1>
    
        <button onclick="scrollToTop()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM13 12V16H11V12H8L12 8L16 12H13Z"></path></svg>
        </button>

        <img src="https://i.pinimg.com/564x/b0/c0/d2/b0c0d2df10c4a5ba13c45c09b2b89677.jpg">
        <h2><span>Página</span> No Encontrada</h2>
        <p><a href="{{ url_for('index') }}">Volver a la página principal</a></p>
    </main>

    {{ footer() }}

	<script src="{{ url_for('static', filename='JS/main.js') }}"></script>
</body>
</html>