{% from "Macros.jinja2" import bootstrap, barra_navegacion, footer, scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BangtanStoryline/Biografía y Cronología</title>
	<link rel="shortcut icon" href="https://i.pinimg.com/564x/b0/c0/d2/b0c0d2df10c4a5ba13c45c09b2b89677.jpg" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Biografia_Y_Cronologia.css') }}">

	<!-- BootStrap -->
	{{ bootstrap() }}
</head>
<body>
	{{ barra_navegacion() }}

	<main class="container">
		<div class="contenido-biologia">
			<h1 class="animacion">✨ Biografía y Cronología ✨</h1>

			<h2 class="animacion">Biografía</h2>

			<button onclick="scrollToTop()">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
					<path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM13 12V16H11V12H8L12 8L16 12H13Z"></path>
				</svg>
			</button>

			<p>
				BTS es un grupo de K-pop formado por Big Hit Entertainment, ahora conocida como HYBE Corporation. El nombre del grupo es un acrónimo de "Bangtan Sonyeondan" en coreano, que se traduce como "Boy Scouts a Prueba de Balas" en español. También han adoptado el significado alternativo de "Beyond The Scene".
			</p>

			<img id="img" src="https://i.pinimg.com/236x/d7/7b/0f/d77b0f1224538059823d552020c02433.jpg">
			<p>
				El grupo debutó el 13 de junio de 2013 con el sencillo "No More Dream" de su primer álbum, "2 Cool 4 Skool". La alineación original consistía en siete miembros: RM (Rap Monster), Jin, Suga, J-Hope, Jimin, V y Jungkook.
			</p>

			<img class="img" src="https://i.pinimg.com/236x/78/e1/e5/78e1e56658b64a636da8e0c9c5b4beab.jpg">
			<p>
				A lo largo de los años, BTS ha crecido exponencialmente tanto en popularidad como en influencia global. Han lanzado varios álbumes exitosos, incluyendo "Dark & Wild", "WINGS", "Love Yourself: Tear" y "Map of the Soul: 7", entre otros.
			</p>
			<p>
				Su música ha abordado temas como la lucha personal, la juventud, la autoaceptación y el amor propio, ganándoles una enorme base de fanáticos a nivel mundial. Han roto múltiples récords y han recibido numerosos premios, incluyendo premios Billboard, American Music Awards y MTV Europe Music Awards.
			</p>

			<img class="img" src="https://i.pinimg.com/236x/91/de/7b/91de7bfb5f47e8ef77237b6d3fa5493a.jpg">
			<p>
				Además de su música, BTS ha estado involucrado en diversas actividades filantrópicas y han abogado por causas importantes, incluyendo discursos en la Asamblea General de las Naciones Unidas sobre la juventud y el amor propio.
			</p>

			<img class="img" src="https://i.pinimg.com/236x/5f/99/3c/5f993cfe084442a3e6830c6f2ea45a53.jpg">
			<p>
				Su impacto en la cultura pop y su presencia en redes sociales los han convertido en un fenómeno global, conocidos por su ARMY, la base de fanáticos apasionados que apoyan fervientemente su música y mensajes.
			</p>
			<p>
				A lo largo de su carrera, han realizado giras mundiales exitosas, participado en programas de televisión, películas y colaboraciones con otros artistas internacionales, consolidando su posición como una de las mayores sensaciones del entretenimiento a nivel mundial.
			</p>
		</div>

		<div class="contenido-cronologia">
			<h2 class="animacion">Cronología</h2>

			<p>
				La cronología de BTS es extensa y llena de momentos significativos en su carrera. Aquí te presento una cronología resumida de algunos de los hitos más importantes:
			</p>

			<table>
				<tr>
					<th>Año</th>
					<th>Mes</th>
					<th>Publicación</th>
				</tr>
				<tr>
					<td>2013</td>
					<td>Junio</td>
					<td class="publicacion">BTS debuta con el sencillo "No More Dream" y el álbum "2 Cool 4 Skool"</td>
				</tr>
				<tr>
					<td>2014</td>
					<td>Febrero | Agosto</td>
					<td class="publicacion">Lanzan "Skool Luv Affair", su segundo EP | "Dark & Wild", su primer álbum de estudio, sale a la venta</td>
				</tr>
				<tr>
					<td>2015</td>
					<td>Abril | Noviembre</td>
					<td class="publicacion">BTS gana su primer premio en un programa musical coreano con "I Need U" |
					Lanzan la serie "The Most Beautiful Moment in Life" con los EPs "The Most Beautiful Moment in Life, Part 1" y "The Most Beautiful Moment in Life, Part 2</td>
				</tr>
				<tr>
					<td>2016</td>
					<td>Mayo | Octubre</td>
					<td class="publicacion">Publican "Young Forever", un álbum especial que compila la serie "The Most Beautiful Moment in Life" | Lanzan "WINGS", su segundo álbum de estudio, con el sencillo "Blood Sweat & Tears".</td>
				</tr>
				<tr>
					<td>2017</td>
					<td>Febrero | Septiembre | Noviembre</td>
					<td class="publicacion">BTS gana el premio "Top Social Artist" en los Billboard Music Awards | RM da un discurso en la Asamblea General de las Naciones Unidas | Lanzan "Love Yourself: Her", el primero de la serie "Love Yourself"</td>
				</tr>
				<tr>
					<td>2018</td>
					<td>Mayo | Agosto</td>
					<td class="publicacion">BTS se convierte en el primer grupo de K-pop en liderar la lista Billboard 200 con "Love Yourself: Tear" | Publican "Love Yourself: Answer", completando la serie "Love Yourself"</td>
				</tr>
				<tr>
					<td>2019</td>
					<td>Abril | Junio | Octubre</td>
					<td class="publicacion">Hacen historia al presentarse en el festival de Coachella | Lanzan "Map of the Soul: Persona" | Anuncian su descanso oficial</td>
				</tr>
				<tr>
					<td>2020</td>
					<td>Febrero | Agosto | Noviembre</td>
					<td class="publicacion">Anuncian "Map of the Soul: 7", continuación del álbum "Map of the Soul: Persona" | Publican "Dynamite", su primer sencillo completamente en inglés | Lanzan "BE", un álbum que refleja su experiencia durante la pandemia</td>
				</tr>
				<tr>
					<td>2021</td>
					<td>Marzo | Mayo | Julio</td>
					<td class="publicacion">Ganan el premio "Mejor Interpretación de Grupo" en los premios Grammy | BTS da un discurso de apertura en el evento "Dear Class of 2021" de YouTube | Presentan "Permission to Dance", otro sencillo en inglés</td>
				</tr>
				<tr>
					<td>2022</td>
					<td>Febrero</td>
					<td class="publicacion">Anuncian el álbum "Face Yourself", como parte de su décimo aniversario</td>
				</tr>
				<tr>
					<td>2023</td>
					<td>Noviembre</td>
					<td class="publicacion">Ganan el premio "Artista del Año" en los Mnet Asian Music Awards (MAMA) y son nominados nuevamente en los Grammy.</td>
				</tr>
				<tr>
					<td>2024</td>
					<td>Junio</td>
					<td class="publicacion">BTS inicia su 11º aniversario con varias actividades en la BTS Festa, incluyendo un evento especial con Jin, que recientemente fue dado de baja del servicio militar</td>
				</tr>						
			</table>
		</div>
	</main>

	{{ footer() }}
	{{ scripts() }}
</body>
</html>