{% from "Macros.jinja2" import bootstrap, barra_navegacion, footer, scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BangtanStoryline</title>
	<link rel="shortcut icon" href="https://i.pinimg.com/564x/b0/c0/d2/b0c0d2df10c4a5ba13c45c09b2b89677.jpg" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

	<!-- BootStrap -->
	{{ bootstrap() }}
</head>
<body id="body">
	{{ barra_navegacion() }}

	<main class="container">
		<div class="contenido">
			<h1 class="animacion">¡Elige el integrante más guapo!</h1>
			
			<img src="https://i.pinimg.com/236x/2c/6d/1a/2c6d1a461cae4546fdeadda558590104.jpg" class="animacion" onclick="correcta()">
			<img src="https://i.pinimg.com/236x/04/6a/de/046ade1cd68405b93a29acc82a30d973.jpg" class="animacion" onclick="incorrecta()">

			<button onclick="scrollToTop()">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM13 12V16H11V12H8L12 8L16 12H13Z"></path></svg>
			</button>
		</div>
	</main>

	{{ footer() }}
	{{ scripts() }}	
</body>
</html>