{% from "Macros.jinja2" import bootstrap, barra_navegacion, footer, scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BangtanStoryline/JK</title>
	<link rel="shortcut icon" href="https://i.pinimg.com/564x/b0/c0/d2/b0c0d2df10c4a5ba13c45c09b2b89677.jpg" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Integrantes.css') }}">

	<!-- BootStrap -->
	{{ bootstrap() }}
</head>
<body>
	{{ barra_navegacion() }}

	<main class="container">
		<div class="primer-contenido">
			<h1 class="animacion">✨ Jeon Jungkook ✨</h1>

			<button onclick="scrollToTop()">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
					<path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM13 12V16H11V12H8L12 8L16 12H13Z"></path>
				</svg>
			</button>

			<p>
				Jeon Jungkook, conocido como JK o simplemente Jungkook, es el integrante más joven de BTS y a menudo se le reconoce como el "Golden Maknae" del grupo por su habilidad excepcional en diversas áreas.
			</p>
			<br>

			<h2 class="animacion">Información <span>Personal</span></h2>

			<table>
				<tr>
					<th>Nombre Completo</th>
					<td>Jeon Jungkook</td>
				</tr>
				<tr>
					<th>Fecha de Nacimiento</th>
					<td>1 de septiembre de 1997</td>
				</tr>
				<tr>
					<th>Lugar de Nacimiento</th>
					<td>Busan, Corea del Sur</td>
				</tr>
				<tr>
					<th>Posición en BTS</th>
					<td>Vocalista principal, bailarín principal, sub-rapero y maknae (el miembro más joven).</td>
				</tr>
				<tr>
					<th>Altura</th>
					<td>Aproximadamente 1.78 metros</td>
				</tr>
			</table>
			<br>
		</div>

		<div class="segundo-contenido">
			<h2 class="animacion">Aspectos Destacados:</h2>
			<h3>Talento <span>Multifacético</span>:</h3>

			<ul>
				<li>
					Jungkook es conocido por su versatilidad. Destaca como vocalista, bailarín y rapero, mostrando habilidades excepcionales en cada uno de estos aspectos.
				</li>
				<li>
					Es reconocido por su voz potente y versátil, capaz de adaptarse a una amplia gama de géneros musicales.
				</li>
			</ul>

			<img class="img1" src="https://i.pinimg.com/236x/b8/f5/a4/b8f5a4820fabe76e558a04caacf1dd1e.jpg">

			<h3>Logros en <span>Danza</span>:</h3>

			<ul>
				<li>
					Es un bailarín excepcional y ha demostrado sus habilidades en coreografías complejas y exigentes en numerosas actuaciones y vídeos musicales de BTS.
				</li>
			</ul>
			<img class="img2" src="https://i.pinimg.com/236x/f7/00/09/f70009d368ab4aa295a802780cc1b070.jpg">

			<h3><span>Participación</span> en la Producción:</h3>

			<ul>
				<li>
					A lo largo de los años, Jungkook ha estado involucrado en la composición y producción de canciones de BTS, mostrando su talento y creatividad en la música.
				</li>
			</ul>

			<h3>Impacto en la <span>Moda</span> y <span>Cultura</span> Pop:</h3>

			<ul>
				<li>
					Su estilo y presencia en escena han generado tendencias en la moda y han influido en la cultura pop, siendo un ícono para muchos seguidores.
				</li>
			</ul>

			<h3>Intereses y <span>Personalidad</span>:</h3>

			<ul>
				<li>
					Es conocido por su naturaleza trabajadora y perfeccionista, siempre buscando mejorar en su arte.
				</li>	
				<li>
					Jungkook también ha expresado su interés por el dibujo, los videojuegos y los deportes.
				</li>
			</ul>

			<h2 class="animacion">Curiosidades:</h2>

			<ul>
				<li>
					Es políglota y puede comunicarse en varios idiomas, incluyendo coreano, inglés y japonés.
				</li>
				<li>En 2020, lanzó su primera canción en solitario, un cover de "Ending Scene" de IU.</li>
				<li>
					A lo largo de su carrera, ha participado en programas de televisión y ha sido elogiado por su ética de trabajo y dedicación.
				</li>
			</ul>

			<br>
			<p>
				Jungkook es una figura integral en BTS, contribuyendo significativamente al éxito del grupo con su talento, carisma y trabajo arduo. Su presencia en la industria musical y su influencia en la cultura pop lo han convertido en un ícono reconocido a nivel mundial.
			</p>
			<br>
		</div>
	</main>

	{{ footer() }}
	{{ scripts() }}	
</body>
</html>