{% from "Macros.jinja2" import bootstrap, barra_navegacion, footer, scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BangtanStoryline/Logros y Premios</title>
	<link rel="shortcut icon" href="https://i.pinimg.com/564x/b0/c0/d2/b0c0d2df10c4a5ba13c45c09b2b89677.jpg" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Logros_Y_Premios.css') }}">

	<!-- BootStrap -->
	{{ bootstrap() }}
</head>
<body>
	{{ barra_navegacion() }}

	<main class="container">
		<div class="contenido">
		
			<h1 class="animacion">✨ Logros y Premios ✨</h1>

			<button onclick="scrollToTop()">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
					<path d="M12 2C17.52 2 22 6.48 22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2ZM12 20C16.42 20 20 16.42 20 12C20 7.58 16.42 4 12 4C7.58 4 4 7.58 4 12C4 16.42 7.58 20 12 20ZM13 12V16H11V12H8L12 8L16 12H13Z"></path>
				</svg>
			</button>

			<p>
				BTS ha acumulado una impresionante lista de logros y premios a lo largo de su carrera, demostrando su impacto en la música y la cultura pop a nivel mundial. Algunos de sus logros más destacados incluyen:
			</p>
			<br>

			<h2 class="animacion"><span>Premios</span> Musicales Internacionales:</h2>

			<ul>
				<li>
					<strong>Billboard Music Awards (BBMAs):</strong>
					Han ganado múltiples premios en categorías como "Top Duo/Group", "Top Social Artist", y "Top Selling Song" por "Dynamite".
				</li>
				<li>
					<strong>American Music Awards (AMAs):</strong>
					Han recibido premios como "Favorite Duo or Group - Pop/Rock" y "Favorite Social Artist".
				</li>
				<li>
					<strong>MTV Europe Music Awards (EMAs):</strong>
					Han ganado premios como "Best Song" y "Best Group".
				</li>
				<li>
					<strong>Grammy Awards:</strong>
					Han sido nominados varias veces y ganaron el premio a "Mejor Interpretación de Grupo" en 2021.
				</li>
			</ul>
			<img class="img" src="https://i.pinimg.com/236x/41/58/4a/41584a9e3b8e20c233489b49ae6f65eb.jpg">

			<h2 class="animacion">Logros en las Listas de <span>Billboard</span>:</h2>

			<ul>
				<li>
					<strong>Billboard 200:</strong>
					Han tenido múltiples álbumes número uno en esta lista, incluyendo "Love Yourself: Tear", "Love Yourself: Answer", "Map of the Soul: Persona", "Map of the Soul: 7" y "BE".
				</li>
				<li>
					<strong>Hot 100:</strong>
					"Dynamite" se convirtió en su primer sencillo en alcanzar el número uno en esta lista.
				</li>
			</ul>
			<img class="img" src="https://i.pinimg.com/236x/64/7e/82/647e820fadf254b92fea5fdb77db9c16.jpg">

			<h2 class="animacion"><span>Récords</span> y Reconocimientos:</h2>

			<ul>
				<li>
					<strong>Récords de YouTube:</strong>
					Han establecido varios récords en la plataforma, incluyendo el vídeo musical más visto en 24 horas y el vídeo más rápido en alcanzar ciertas cifras de reproducción.
				</li>
				<li>
					<strong>Récords de Spotify:</strong>
					Han alcanzado cifras récord de reproducción en Spotify con sus lanzamientos, siendo uno de los grupos más reproducidos en la plataforma.
				</li>
				<li>
					<strong>Récords en Ventas de Álbumes:</strong>
					Han vendido millones de copias de álbumes a nivel mundial, estableciendo récords de ventas en diversos mercados.
				</li>
			</ul>
			<img class="img" src="https://i.pinimg.com/236x/b7/05/b6/b705b648298aa7bf9a5458602ad011f5.jpg">

			<h2 class="animacion">Otros <span>Logros</span>:</h2>

			<ul>
				<li>
					<strong>Conciertos y Giras Mundiales:</strong>
					Han agotado entradas para conciertos en estadios y han realizado giras exitosas en diferentes continentes.
				</li>
				<li>
					<strong>Actividades Filantrópicas:</strong>
					Han participado en varias actividades benéficas y donaciones para causas sociales, incluyendo donaciones a organizaciones como UNICEF.
				</li>
			</ul>
			<img class="img" src="https://i.pinimg.com/236x/91/de/7b/91de7bfb5f47e8ef77237b6d3fa5493a.jpg">
			<br>

			<p>
				Estos logros representan solo una fracción de todo lo que BTS ha alcanzado a lo largo de su carrera. Su influencia no solo se refleja en los premios y récords, sino también en su conexión con los fans y su compromiso con mensajes positivos y significativos en su música y actividades.
			</p>
			<br>
		</div>
	</main>

	{{ footer() }}
	{{ scripts() }}
</body>
</html>